<svg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'>
	<title>Github</title>
	<g id='Github'>
		<path
			id='Shape'
			fill-rule='evenodd'
			clip-rule='evenodd'
			d='M32.0003 1.50006C14.7435 1.50006 0.75 15.491 0.75 32.7503C0.75 46.5575 9.70415 58.2714 22.1208 62.4036C23.6826 62.6929 24.256 61.7257 24.256 60.9003C24.256 60.1551 24.227 57.6934 24.2136 55.0821C15.5197 56.9725 13.6852 51.395 13.6852 51.395C12.2637 47.7829 10.2154 46.8225 10.2154 46.8225C7.3801 44.8829 10.4292 44.9227 10.4292 44.9227C13.5672 45.1432 15.2196 48.1431 15.2196 48.1431C18.0068 52.9206 22.5302 51.5394 24.3134 50.7409C24.5939 48.7211 25.4038 47.3425 26.2975 46.5622C19.3564 45.7719 12.0598 43.0924 12.0598 31.1182C12.0598 27.7063 13.2805 24.9186 15.2796 22.7301C14.9551 21.943 13.8855 18.7646 15.5823 14.4601C15.5823 14.4601 18.2065 13.6202 24.1784 17.6634C26.6711 16.971 29.3445 16.6237 32.0003 16.6118C34.656 16.6237 37.3315 16.971 39.8289 17.6634C45.7935 13.6202 48.414 14.4601 48.414 14.4601C50.115 18.7646 49.0449 21.943 48.7204 22.7301C50.7241 24.9186 51.9366 27.7063 51.9366 31.1182C51.9366 43.1208 44.626 45.7637 37.6673 46.5373C38.7882 47.5071 39.7869 49.4089 39.7869 52.3244C39.7869 56.5058 39.7507 59.871 39.7507 60.9003C39.7507 61.7319 40.3132 62.7063 41.8973 62.3995C54.3072 58.2626 63.25 46.5528 63.25 32.7503C63.25 15.491 49.2586 1.50006 32.0003 1.50006ZM12.4542 46.0167C12.3854 46.172 12.1412 46.2185 11.9186 46.1119C11.692 46.01 11.5647 45.7983 11.6382 45.6426C11.7054 45.4827 11.9502 45.4382 12.1763 45.5453C12.4035 45.6472 12.5329 45.861 12.4542 46.0167ZM13.9914 47.3883C13.8424 47.5265 13.551 47.4623 13.3533 47.2439C13.1489 47.0261 13.1106 46.7347 13.2617 46.5945C13.4154 46.4563 13.698 46.521 13.9029 46.7389C14.1073 46.9593 14.1472 47.2486 13.9914 47.3883ZM15.046 49.1432C14.8545 49.2762 14.5414 49.1515 14.3479 48.8736C14.1564 48.5957 14.1564 48.2624 14.352 48.1289C14.5461 47.9954 14.8545 48.1155 15.0506 48.3913C15.2416 48.6738 15.2416 49.0071 15.046 49.1432ZM16.8294 51.1756C16.6581 51.3645 16.2933 51.3138 16.0263 51.0561C15.7531 50.8041 15.677 50.4465 15.8488 50.2576C16.0221 50.0682 16.389 50.1215 16.6581 50.3772C16.9293 50.6287 17.0121 50.9888 16.8294 51.1756ZM19.1344 51.8618C19.0588 52.1065 18.7075 52.2178 18.3535 52.1138C18.0001 52.0067 17.7687 51.72 17.8402 51.4726C17.9136 51.2263 18.2666 51.1104 18.6231 51.2216C18.9761 51.3282 19.2079 51.6129 19.1344 51.8618ZM21.7576 52.1528C21.7664 52.4105 21.4662 52.6242 21.0946 52.6289C20.721 52.6372 20.4188 52.4286 20.4147 52.1751C20.4147 51.9148 20.7081 51.7031 21.0817 51.6969C21.4533 51.6896 21.7576 51.8966 21.7576 52.1528ZM24.3345 52.054C24.379 52.3055 24.1208 52.5638 23.7518 52.6326C23.3891 52.6988 23.0532 52.5436 23.0071 52.2941C22.9621 52.0364 23.225 51.7782 23.5872 51.7114C23.9567 51.6473 24.2874 51.7984 24.3345 52.054Z'
			fill='url(#paint0_linear_github)'
		>
		</path>
	</g>
	<defs>
		<linearGradient
			id='paint0_linear_github'
			x1='33.0816'
			y1='86.5651'
			x2='89.9048'
			y2='29.1045'
			gradientUnits='userSpaceOnUse'
		>
			<stop stop-color='#F4426C'></stop>
			<stop offset='1' stop-color='#FBF2B1'></stop>
		</linearGradient>
	</defs>
</svg>

<style>
	svg:hover path {
		fill: #161614;
	}
</style>
