<svg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'>
	<title>HTML 5</title>
	<g>
		<path
			fill-rule='evenodd'
			clip-rule='evenodd'
			d='M8.88565 57.6023L3.75 0H60.1819L55.0409 57.5933L31.9314 64L8.88565 57.6023Z'
			fill='url(#paint0_linear_html)'></path>
		<path
			fill-rule='evenodd'
			clip-rule='evenodd'
			d='M31.9661 59.103L50.6396 53.926L55.033 4.70984H31.9661V59.103Z'
			fill='url(#paint0_linear_html)'></path>
		<path
			d='M22.6174 26.0737H31.9659V33.1383H16.1564L14.251 11.7746H31.9659V18.8394H21.9718L22.6174 26.0737Z'
			fill='#EBEBEB'></path>
		<path
			d='M31.9349 44.4297L31.9659 44.4215V51.7717L31.9334 51.7808L17.4619 47.7634L16.4721 36.6708H23.5639L24.0669 42.3052L31.9349 44.4297Z'
			fill='#EBEBEB'></path>
		<path d='M31.9417 11.7746H49.6388L49.0062 18.8394H31.9417V11.7746Z' fill='white'></path>
		<path
			d='M31.9417 33.1383V26.0737H48.3634L48.191 27.9708L46.4246 47.7634L31.9417 51.7773V44.4274L39.821 42.3007L40.641 33.1383H31.9417Z'
			fill='white'></path>
	</g>

	<defs>
		<linearGradient
			id='paint0_linear_html'
			x1='32.9425'
			y1='89.3112'
			x2='92.0285'
			y2='37.9283'
			gradientUnits='userSpaceOnUse'
		>
			<stop stop-color='#F4426C'></stop>
			<stop offset='1' stop-color='#FBF2B1'></stop>
		</linearGradient>
		<linearGradient
			id='paint1_linear_html'
			x1='32.5573'
			y1='67.6027'
			x2='69.5078'
			y2='35.3672'
			gradientUnits='userSpaceOnUse'
		>
			<stop stop-color='#F4426C'></stop>
			<stop offset='1' stop-color='#FBF2B1'></stop>
		</linearGradient>
	</defs>
</svg>

<style>
	svg:hover path:nth-child(1) {
		fill: #e44d26;
	}
	svg:hover path:nth-child(2) {
		fill: #e44d26;
	}
	svg:hover path:nth-child(3) {
		fill: #ebebeb;
	}
	svg:hover path:nth-child(4) {
		fill: #ebebeb;
	}
</style>
