---

---

<section id='about' class='flex gap-5 mt-20 desktop:flex-row mobile:flex-col-reverse pt-10'>
	<div
		class='desktop:w-96 desktop:h-96 tablet:w-80 tablet:h-80 mobile:w-60 mobile:h-60 mx-auto bg-gradient-to-bl from-h-primary to-h-seconday rounded-full aspect-square relative z-20 before:content-[""] before:w-full before:h-full before:bg-me before:absolute before:top-0 before:left-0 before:bg-contain before:bg-no-repeat before:bg-center before:border-b'
	>
	</div>
	<div class='desktop:w-3/5 px-5'>
		<h2 class='text-md uppercase mb-5'>Sobre mi</h2>
		<h3
			class='mobile:text-2xl mobile:leading-[2.25rem] tablet:text-smega tablet:leading-[3.438rem] desktop:text-lmega desktop:leading-[4.625rem] font-walsheim bg-clip-text text-transparent bg-gradient-to-r from-h-primary from-0% via-h-seconday via-54.94% to-h-third to-100%'
		>
			Gonzalo Pedro Manco Garcia
		</h3>
		<p class='text-paragraft mt-5'>
			Soy desarrollador de software, estudie en ISIL, Lima, Perú. Me encanta desarrollar software
			sobre todo en la web, tengo conocimientos base sobre otras áreas tecnológicas del software,
			pero me enfoqué más en el desarrollo web que fue lo primero que vi y lo me apasiona. Sé que
			puedo adaptarme fácil a un equipo de trabajo y dar lo mejor de mí demostrando mis
			conocimientos en esta área.
		</p>
	</div>
</section>
