---
import ExperienceCard from './ExperienceCard.astro'
import { experiences } from '@utils/experience'
---

<section class='mt-32 border-b border-b-extra pb-16' id='experience'>
	<h1 class='text-md mb-10 uppercase'>Experiencia</h1>
	<div class='flex gap-16 desktop:flex-row mobile:flex-col'>
		<aside class='desktop:w-1/4 mobile:w-full'>
			<nav class='text-md border-l border-l-extra'>
				<ul class=''>
					<li class='px-6 py-3 cursor-pointer active' key-word='CV-PE'>Consigue ventas</li>
					<li class='px-6 py-3 cursor-pointer' key-word='ISIL'>ISIL</li>
				</ul>
			</nav>
		</aside>
		<article
			class='desktop:w-3/4 mobile:w-full flex flex-col gap-6 text-paragraft max-h-96 overflow-y-auto pr-3'
		>
			{
				experiences.map((x) => (
					<ExperienceCard role={x.role} date={x.date} enterprice={x.enterprice} works={x.works} />
				))
			}
		</article>
	</div>
</section>

<style>
	aside nav ul li.active {
		background-image: linear-gradient(90deg, #6964de, #fca6e9);
		border-left: solid 1px #ffffff;
	}
</style>
