---
import { type Experience } from '@utils/experience'

interface Props extends Experience {}

const { role, date, enterprice, works } = Astro.props
---

<div
	class='flex tablet:items-center justify-between tablet:flex-row mobile:flex-col mobile:gap-2 tablet:gap-0'
>
	<h1 class='text-xl text-white'>{role}</h1>
	<h2 class='text-base leading-6'>{date}</h2>
</div>
<h3 class='text-xs text-highlight'>{enterprice}</h3>
<ul class='flex flex-col gap-6'>
	{works.map((x) => <li class='tablet:text-base mobile:text-xs'>{x}</li>)}
</ul>
