---
import Link from './Link.astro'
import LinkMobile from './LinkMobile.astro'
import About from './icons/AboutIcon.astro'
import Experience from './icons/ExperienceIcon.astro'
import Home from './icons/Home.astro'
import Logo from './icons/Logo.astro'
import Projects from './icons/ProjectsIcon.astro'

const links: { text: string; link: string }[] = [
	{
		text: 'Inicio',
		link: '#home'
	},
	{
		text: 'Experiencia',
		link: '#experience'
	},
	{
		text: 'Sobre mi',
		link: '#about'
	},
	{
		text: 'Proyectos',
		link: '#projects'
	}
]
---

<header
	class='mobile:hidden desktop-sm:px-32 desktop:px-14 desktop:flex items-center justify-between fixed w-full top-0 z-50 bg-[#1d0c34] py-3 max-w-[1440px] -translate-x-1/2 left-1/2'
>
	<a href='#' class='text-xl cursor-pointer flex items-center font-walsheim'><Logo /> GM.</a>
	<nav class='flex text-md gap-8 items-center font-walsheim links'>
		{links.map((x) => <Link text={x.text} link={x.link} />)}
	</nav>
</header>

<aside
	class='menu mobile:flex desktop:hidden fixed justify-center items-center z-[100] right-10 bottom-10'
>
	<div
		class='toggle relative w-10 h-10 bg-gradient-to-l from-g4-primary to-g4-secondary rounded-full flex justify-center cursor-pointer text-xl transition-transform duration-[1.25s] shadow-[0_3px_4px_rgba(0,0,0,0.15)]'
	>
		+
	</div>

	<LinkMobile link='#' title='Home' iterator={1}>
		<Home />
	</LinkMobile>

	<LinkMobile link='#experience' title='Experiencia' iterator={2}>
		<Experience />
	</LinkMobile>

	<LinkMobile link='#about' title='Sobre mi' iterator={3}>
		<About />
	</LinkMobile>

	<LinkMobile link='#projects' title='Proyectos' iterator={4}>
		<Projects />
	</LinkMobile>
</aside>

<script>
	const links = document.querySelectorAll('.links a') as NodeListOf<HTMLAnchorElement>

	links.forEach((x) => {
		x.addEventListener('click', (e) => {
			e.preventDefault()

			const current = e.currentTarget as HTMLAnchorElement
			const target = document.querySelector(current.getAttribute('href') ?? '#') as HTMLElement
			const goTo = current.getAttribute('href') === '#home' ? 0 : target.offsetTop - 60

			window.scrollTo(0, goTo)
		})
	})
</script>

<script>
	let toggle = document.querySelector('.toggle') as HTMLDivElement
	let menu = document.querySelector('.menu') as HTMLElement
	toggle.onclick = function () {
		menu.classList.toggle('active')
	}
</script>

<style is:global>
	.menu.active .toggle {
		transform: rotate(315deg);
		box-shadow:
			0 6px 6px #6964de,
			0 0 0 2px #fca6e9,
			0 0 0 6px #fff;
	}

	.menu.active li {
		scale: 1;
	}
</style>
