---
interface Props {
	iterator: number
	link: string
	title: string
}

const { link, title, iterator } = Astro.props
---

<li style={`--i:${iterator};`}>
	<a href={link}>
		<div
			class='justify-self-center relative after:absolute after:w-20 after:text-center after:text-[10px] after:bg-highlight after:rounded-md after:left-[125%] after:-translate-x-[125%] after:-top-full after:p-1 after:transition-all after:duration-400 after:z-50 after:invisible after:content-[attr(data-tooltip)] hover:after:visible'
			data-tooltip={title}
		>
			<slot />
		</div>
	</a>
</li>

<style>

li {
		position: absolute;
		bottom: -140%;
		left: -50%;
		list-style: none;
		transition: 0.5s;
		transform: rotate(calc(180deg / 4 * var(--i)));
		transform-origin: 40px -40px;
		scale: 0;
		transition-delay: calc(0.05s * var(--i));
	}

	li a {
		position: relative;
		display: flex;
		transform: rotate(calc(180deg / -4 * var(--i)));
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-image: linear-gradient(90deg, #6964de, #fca6e9);
		transition: all 0.25s ease-in;
	}

	li:hover a {
		scale: 1.1;
		box-shadow:
			0 0 0 2px #9845e8,
			0 0 0 6px #fff;
	}

</style> 