---
import WrapBlur from '@components/WrapBlur.astro'

import React from './icons/React.astro'
import Github from './icons/Github.astro'
import Html from './icons/Html.astro'
import Javascript from './icons/Javascript.astro'
import NextJS from './icons/Next.astro'
import Node from './icons/Node.astro'
import Tailwind from './icons/Tailwind.astro'
import Typescript from './icons/Typescript.astro'
import Css from './icons/Css.astro'
import Git from './icons/Git.astro'
import Mongo from './icons/Mongo.astro'
import Postgre from './icons/Postgre.astro'
---

<section class='mt-32' id='skills' aria-roledescription='Tecnologías'>
	<h1 class='uppercase'>Tecnologías y Habilidades</h1>
	<div class='mt-10'>
		<h2 class='text-center text-xl mb-10'>Tecnologías que uso diariamente</h2>
		<section
			class='grid desktop:grid-cols-skills gap-x-5 gap-y-10 place-content-center mobile:grid-cols-skills-mobile'
		>
			<WrapBlur title='React'>
				<React />
			</WrapBlur>

			<WrapBlur title='JavaScript'>
				<Javascript />
			</WrapBlur>

			<WrapBlur title='TypeScript'>
				<Typescript />
			</WrapBlur>

			<WrapBlur title='CSS'>
				<Css />
			</WrapBlur>

			<WrapBlur title='HTML'>
				<Html />
			</WrapBlur>

			<WrapBlur title='Git'>
				<Git />
			</WrapBlur>

			<WrapBlur title='Github'>
				<Github />
			</WrapBlur>

			<WrapBlur title='TailwindCSS'>
				<Tailwind id='v1-tcss' />
			</WrapBlur>

			<WrapBlur title='NodeJS'>
				<Node />
			</WrapBlur>

			<WrapBlur title='NextJS'>
				<NextJS />
			</WrapBlur>
		</section>
	</div>

	<div class='mt-10'>
		<h2 class='text-center text-xl mb-10'>Tecnologías que use en proyectos</h2>
		<section
			class='grid desktop:grid-cols-skills gap-x-5 gap-y-10 place-content-center mobile:grid-cols-skills-mobile'
		>
			<WrapBlur title='React'>
				<React />
			</WrapBlur>

			<WrapBlur title='JavaScript'>
				<Javascript />
			</WrapBlur>

			<WrapBlur title='TypeScript'>
				<Typescript />
			</WrapBlur>

			<WrapBlur title='NodeJS'>
				<Node />
			</WrapBlur>

			<WrapBlur title='CSS'>
				<Css />
			</WrapBlur>

			<WrapBlur title='TailwindCSS'>
				<Tailwind id='v2-tcss' />
			</WrapBlur>

			<WrapBlur title='Git'>
				<Git />
			</WrapBlur>

			<WrapBlur title='MongoDB'>
				<Mongo id='v2-mg' />
			</WrapBlur>

			<WrapBlur title='PostgreSQL'>
				<Postgre />
			</WrapBlur>

			<WrapBlur title='NextJS'>
				<NextJS />
			</WrapBlur>
		</section>
	</div>
</section>
