---
import WrapBlur from '@components/WrapBlur.astro'

import React from './icons/v1/React.astro'
import Github from './icons/v1/Github.astro'
import Html from './icons/v1/Html.astro'
import Javascript from './icons/v1/Javascript.astro'
import NextJS from './icons/v1/Next.astro'
import Node from './icons/v1/Node.astro'
import Tailwind from './icons/v1/Tailwind.astro'
import Typescript from './icons/v1/Typescript.astro'
import Css from './icons/v1/Css.astro'
import Git from './icons/v1/Git.astro'
import Mongo from './icons/v1/Mongo.astro'
import Postgre from './icons/v1/Postgre.astro'

import Cssv2 from './icons/v2/Css.astro'
import Javascriptv2 from './icons/v2/Javascript.astro'
import Reactv2 from './icons/v2/React.astro'
import Typescriptv2 from './icons/v2/Typescript.astro'
import Gitv2 from './icons/v2/Git.astro'
import Tailwindv2 from './icons/v2/Tailwind.astro'
import Nodev2 from './icons/v2/Node.astro'
import Nextjsv2 from './icons/v2/Next.astro'
---

<section class='mt-32' id='skills'>
	<h1 class='text-md uppercase'>Tecnologías y Habilidades</h1>
	<div class='mt-10'>
		<h2 class='text-center text-xl'>Tecnologías que uso diariamente</h2>
		<WrapBlur>
			<div class='justify-self-center'>
				<React />
			</div>
			<div class='justify-self-center'>
				<Javascript />
			</div>
			<div class='justify-self-center'>
				<Typescript />
			</div>
			<div class='justify-self-center'>
				<Css />
			</div>
			<div class='justify-self-center'>
				<Html />
			</div>
			<div class='justify-self-center'>
				<Git />
			</div>
			<div class='justify-self-center'>
				<Github />
			</div>
			<div class='justify-self-center'>
				<Tailwind />
			</div>
			<div class='justify-self-center'>
				<Node />
			</div>
			<div class='justify-self-center'>
				<NextJS />
			</div>
		</WrapBlur>
	</div>
	<div class='mt-10'>
		<h2 class='text-center text-xl'>Tecnologías que use en proyectos</h2>
		<WrapBlur>
			<div class='justify-self-center'>
				<Reactv2 />
			</div>
			<div class='justify-self-center'>
				<Javascriptv2 />
			</div>
			<div class='justify-self-center'>
				<Typescriptv2 />
			</div>
			<div class='justify-self-center'>
				<Nodev2 />
			</div>
			<div class='justify-self-center'>
				<Cssv2 />
			</div>
			<div class='justify-self-center'>
				<Tailwindv2 />
			</div>
			<div class='justify-self-center'>
				<Gitv2 />
			</div>
			<div class='justify-self-center'>
				<Mongo />
			</div>
			<div class='justify-self-center'>
				<Postgre />
			</div>
			<div class='justify-self-center'>
				<Nextjsv2 />
			</div>
		</WrapBlur>
	</div>
</section>
